<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главное меню</title>
</head>
<body>
{% extends "base.html" %}

{% block content %}
{% for item in passwords%}
<div class="bg-secondary" style="margin: 20px;border-radius: 5px;border-style: solid;border-color: white;">
    <h2  class="col-100 mb-3">{{item.login}}</h2>
    <h5  class="col-100 mb-3">{{item.password}}</h5>
</div>
{% endfor %}
<p>

</p>
<a href="/admin" class="btn btn-danger">
    Назад
</a>
{% endblock %}
</body>
</html></title>
</head>
<body>

</body>
</html>